/* Estilo de la imagen */

.logo {
  width: 200px;
  height: 62px;
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap; /* Permite que los elementos se envuelvan en una nueva fila */
  justify-content: space-between; /* Espaciado uniforme entre los elementos */
  align-items: flex-start; /* Alinear elementos al principio */
  position: relative;
}
/* Estilos del título */
.iniciar {
  margin: 10px 0 20px;
  color: #070807;
  font-size: 36px;
  font-family: var(--fuentes-principales);
  font-weight: 300;
  margin-bottom: 92px;
}
.sesion {
  color: #96c142;
  font-family: var(--fuentes-principales);
  font-size: 36px;
}

/* Estilos del formulario */
.formulario {
  display: flex;
  flex-direction: column;
  background-color: #faf9f9;
  align-items: center;
  padding: 20px 40px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 397px;
  max-width: 300px;
  height: 429px;
  min-height: 429px;
  border: 1px solid #070807;
}

.entradas[type='text'],
.entradas[type='password'] {
  width: 100%;
  height: 20px;
  margin-bottom: 49px;
  border: none;
  border-bottom: 1px solid black;
  outline: none;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--fuentes-principales);
  box-shadow: none;
  background-color: transparent;
}

.entradas[type='password'] {
  margin-bottom: 0px;
}

.signUP[type='submit'] {
  padding: 10px 20px;
  background-color: #96c142;
  color: #070807;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
  margin-top: 33px;
  font-family: var(--fuentes-principales);
}

.signUP[type='submit']:hover {
  background-color: #a2cd60;
}

.olvidarLink {
  font-family: var(--fuentes-principales);
  text-decoration: none; /* Quita la línea debajo del enlace */
  color: #96c142;
}

.olvidarLink:hover {
  text-decoration: underline;
  color: #96c142;
}

.leftDown {
  position: absolute;
  bottom: 0;
  left: 0;
  max-width: 484px;
  max-height: 282px;
  min-width: 50px;
  min-height: 50px;
  overflow: hidden;
}

.leftTop {
  position: absolute;
  top: 0;
  left: 0;
  width: 479px;
  height: 433px;
  overflow: hidden;
}

.rightDown {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 495px;
  height: 437px;
  overflow: hidden;
}

.rightTop {
  position: absolute;
  top: 0;
  right: 0;
  width: 452px;
  height: 289px;
  overflow: hidden;
}

.leftTop,
.leftDown {
  animation: slideInLeft 1.5s ease-out; /* Aplica la animación */
}

.rightTop,
.rightDown {
  animation: slideInFromRight 1.5s ease-out; /* Aplica la animación */
}

@media (max-width: 1200px) {
  /* Ajusta el tamaño mínimo deseado */
  .leftTop,
  .rightTop,
  .rightDown,
  .leftDown {
    display: none;
  }
}

@keyframes slideInLeft {
  from {
    transform: translateX(
      -100%
    ); /* Empieza fuera de la vista por la izquierda */
    opacity: 0; /* Empieza invisible */
    overflow: hidden;
  }
  to {
    transform: translateX(0); /* Llega a su posición original */
    opacity: 1; /* Se vuelve visible */
    overflow: hidden;
  }
}

@keyframes slideInFromRight {
  from {
    transform: translateX(100%); /* Inicia fuera de la pantalla, a la derecha */
    opacity: 0; /* Empieza invisible */
  }
  to {
    transform: translateX(0); /* Llega a su posición original */
    opacity: 1; /* Se vuelve visible */
  }
}
